.task-panel {
  max-width: 350px;
}

.task-expansion-panel {
  max-width: 300px;
}

.no-tests-text {
  font-style: italic;
}

.other-tests-list {
  padding-left: 30px;
}

.skip {
  color: #bfbfbe;
}

.silent-fail {
  color: #e7908e
}

.task-detail-icon {
  padding-right: 10px;
  vertical-align: middle;
}