{
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "lib",
                "style": "css"
            },
            "antd"
        ],
        "@emotion/babel-plugin",
        "import-graphql"
    ]
}
