.patch {
  background-color: #F4F6F7;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.patch-description {
  font-size: 14px !important;
}
.patch-container {
  padding-right: 100px;
}
.search-container {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 200px;
}
.filter-container {
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 200px;
  display: inline-flex;
}
.search-input {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 400px;
}
.search-icon {
  padding-right: 10px;
}
.advanced-input {
  min-width: 110px;
  max-width: 200px;
}
.advanced-search {
  float: right;
}
.advanced-select {
  margin-left: 20px !important;
}