{
    "presets": [
        "react-app",
        [
            "@babel/preset-react",
            {
                "runtime": "automatic",
                "importSource": "@emotion/react"
            }
        ]
    ],
    "plugins": [
        "@emotion/babel-plugin",
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "lib",
                "style": "css"
            },
            "antd"
        ]
    ]
}
