body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.variant-card {
  text-align: center;
}
.variant-title {
  padding-top: 5px;
  padding-bottom: 3px;
}
.success {
  background-color: #5cb85c;
  color: white;
}
.failed,
.test-timed-out {
  background-color: #d9534f;
  color: white;
}
.dispatched {
  background-color: #ffb618;
}
.undispatched {
  background-color: #bfbfbe;
}
.started {
  background-color: #ffb618;
}
.system-failed,
.system-unresponsive {
  background-color: #800080;
  color: white;
}
.setup-failed {
  background-color: #c2a5cf;
  color: white;
}
.unstarted {
  background-color: #bfbfbe;
}
.created {
  background-color: #bfbfbe;
}
.inactive {
  background-color: #ebebed;
}
.patch {
  background-color: #f4f6f7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.patch-description {
  font-size: 14px !important;
}
.patch-container {
  padding-right: 100px;
}
.search-container {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 200px;
}
.dropdown-container {
  display: inline-flex;
}
.filter-container {
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 200px;
}
.expand-container {
  float: right;
  padding-top: 10px;
}
.expand-button {
  margin-left: 15px !important;
}
.search-input {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 400px;
}
.search-icon {
  padding-right: 10px;
}
.advanced-input {
  min-width: 150px;
  max-width: 200px;
}
.advanced-search {
  float: right;
}
.advanced-select {
  margin-left: 20px !important;
}
.filter-label {
  padding-top: 24px !important;
}
.login-button {
  padding: 10px;
}
.log-button {
  color: black !important;
  box-shadow: none;
}
.log-button-group {
  position: absolute;
  right: 0;
}
.log-container {
  padding-top: 50px;
  padding-left: 300px;
}
.log-links {
  display: inline-flex;
  padding-left: 20px !important;
}
.log-link-item {
  padding-left: 5px;
  padding-right: 5px;
}
.log-scrollable {
  overflow-x: scroll;
  padding-top: 50px;
  padding-left: 20px;
}
.log-text-normal {
  font-size: 13px;
  font-family: monospace !important;
}
.log-text-error {
  font-size: 13px;
  font-family: monospace !important;
  color: red;
}
.task-panel {
  max-width: 350px;
}
.task-expansion-panel {
  max-width: 300px;
}
.no-tests-text {
  font-style: italic;
}
.other-tests-list {
  padding-left: 30px;
}
.skip {
  color: #bfbfbe;
}
.silent-fail {
  color: #e7908e;
}
.task-detail-icon {
  padding-right: 10px;
  vertical-align: middle;
}
.task-detail-name {
  padding-right: 10px;
}
.task-detail-status-parent {
  display: table;
}
.task-detail-status-child {
  font-size: 12px !important;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
  display: inline-block;
}
.sidebar {
  padding-left: 15px;
  max-width: 400px;
}
.sidebar-container {
  background-color: #d8d8d8 !important;
}
.banner-container {
  padding-right: 100px;
}
.banner {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #dff0d8 !important;
  border-color: #d6e9c6;
  color: rgba(0, 0, 0, 0.54);
}
.vertical-center {
  vertical-align: middle;
}
.close-banner {
  padding-top: 13px;
  position: absolute;
  right: 140px;
  color: rgba(0, 0, 0, 0.54);
}
.app {
  text-align: left;
}
.app-intro {
  font-size: large;
  padding-left: 101px;
  padding-top: 64px;
}
.app-bar {
  width: 100%;
  padding-left: 10px;
}
.spacer {
  flex-grow: 1;
}
.app-icon {
  padding-right: 10px;
  width: 35px;
  height: 35px;
}
.menu-option {
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}
